@import "config";
@import "utilities";
@import "item-grid";
@import "slider";
// General styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Logo
#logo {
  width: 60px;
  height: 37px;
  color: white;
  margin-left: 1rem;
}

.link-logo {
  border: none !important;
}

// Main Nav
#main-nav {
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  background: $dark-color;

  ul {
    display: flex;
    margin-top: -15px;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

// Header
#header {
  &-home {
    background: url(/dist/img/cover.jpg) no-repeat center 80% / cover;
    height: 100vh;
    color: #fff;

    // Header Content
    .header-content {
      text-align: center;
      padding-top: 15%;
      margin-top: 4rem;

      h1 {
        font-size: 3rem;
        line-height: 1.2;
      }

      a {
        margin-top: 3rem;
        opacity: 0.7;
      }
    }
  }
}

// Home Sections
#home {
  &-c {
    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
      text-align: center;

      &-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 22px;
        background-color: $main-color;
        color: set-text-color($main-color);
        border-radius: 50%;
        height: 15px;
        width: 15px;
        line-height: 0px;
        padding: 1rem 1.3rem 1rem 0.6rem;
        margin: -8px;
        transition: all 1s;
      }

      &-icon {
        position: relative;
        border-radius: 50%;
        background-color: $dark-color;
        color: set-text-color($dark-color);
        padding: 0;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        transition: all 1s;

        &:hover {
          background-color: $main-color;
          width: 90px;
          height: 90px;
          line-height: 90px;

          .process-step {
            background-color: $dark-color;
            width: 19px;
            height: 19px;
            line-height: 0;
            color: set-text-color($dark-color);
            // box-sizing: content-box;
          }
        }
      }

      //   &-icon:nth-of-type(2) {
      //     padding-top: 10px;
      //   }
    }
  }
}

// About Sections
#about {
  // About-a
  &-a {
    .about-info {
      display: grid;
      grid-template-areas:
        "bioimage bio bio"
        "aw1 aw2 aw3";
      grid-gap: 1.2rem;
    }

    .bio-image {
      grid-area: bioimage;
      width: 400px;
    }

    .bio {
      grid-area: bio;
      border-left: 3px solid $main-color;
      display: grid;
      align-items: center;
      line-height: 2;

      div {
        padding: 0 3rem;
      }
    }
  }

  // About-b
  &-b {
    .progress {
      overflow: hidden;
      height: 20px;
      background-color: $medium-color;
      border-radius: 5px;
      margin-bottom: 0.6rem;

      > div {
        background-color: $main-color;
        height: 100%;
      }
    }
  }

  // About c
  &-c {
    border-bottom: 2px dashed $dark-color;
    padding-bottom: 2rem;

    .about-logos {
      display: grid;
      color: $dark-color;
      grid-template-columns: repeat(5, 1fr);
      justify-content: center;
      width: 90%;
      align-items: center;
      text-align: center;
      grid-gap: 2rem 0.5rem;
      margin: 1rem auto;
    }
  }
}

#slider {
  background-color: $light-color;
}

// Contact
#contact {
  &-b {
    .contact-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
    }
  }

  &-c {
    h1 {
      text-align: center;
      font-size: 4rem;
      font-weight: 200;
    }
  }
}

// Work

#work-a {
  .item {
    cursor: pointer;
  }

  .see-more {
    margin-top: 1rem;

    a {
      font-weight: bold;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

// Footer

#main-footer {
  background-color: $dark-color;
  color: #fff;
  height: 5rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;

    .social a {
      margin-right: 1rem;
      border: 2px #fff solid;
      border-radius: 50%;
      height: 20px;
      width: 25px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;
      cursor: pointer;
      transition: all 1s;
      color: $light-color;

      &:hover {
        background-color: $main-color;
      }
    }

    .social a:nth-of-type(1) {
      i {
        margin-left: 3px;
      }
    }

    .social a:nth-of-type(2) {
      i {
        padding: 3px;
      }
    }
  }
}

@import "media";
