$switch-speed: 1s;
$slider-number: 6;
$slider-width: 100% / $slider-number;

$image1: "/dist/img/Cert/HTMLCSSeng.jpg";
$image2: "/dist/img/Cert/Gitend.jpg";
$image3: "/dist/img/Cert/JSeng.jpg";
$image4: "/dist/img/Cert/SEOeng.jpg";
$image5: "/dist/img/Cert/port.jpg";
$image6: "/dist/img/Cert/eng.jpg";

// *::before,
// *::after {
//   box-sizing: border-box;
// }

.outer-wrapper {
  width: 80%;
  margin: 0 auto;
  background-color: $light-color;

  // basic styles
  .s-wrap {
    width: 100%;
    margin-bottom: 50px;
    padding-bottom: 55%;
    position: relative;
    border: 2px solid #fff;
    background-color: #efefe8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;

    input {
      display: none;
    }

    .s-content {
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100% * $slider-number;
      height: 100%;
      font-size: 0;
      list-style: none;
      transition: transform $switch-speed;
    }

    .s-item {
      display: inline-block;
      width: $slider-width;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .s-item-1 {
      background: url($image1) no-repeat center center/cover;
    }

    .s-item-2 {
      background: url($image2) no-repeat center center/cover;
    }

    .s-item-3 {
      background: url($image3) no-repeat center center/cover;
    }

    .s-item-4 {
      background: url($image4) no-repeat center center/cover;
    }

    .s-item-5 {
      background: url($image5) no-repeat center center/cover;
    }

    .s-item-6 {
      background: url($image6) no-repeat center center/cover;
    }
  }

  .s-type-1 {
    .s-control {
      position: absolute;
      bottom: 18px;
      left: 50%;
      text-align: center;
      transform: translateX(-50%);
      transition-timing-function: ease-out;
      transition: 0.5s;

      > label[class^="s-c-"] {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 10px;
        border-radius: 50%;
        border: 1px solid #000;
        background-color: $dark-color;
        cursor: pointer;
      }
    }

    .s-nav label {
      display: none;
      position: absolute;
      top: 50%;
      padding: 5px 10px;
      transform: translateY(-50%);
      cursor: pointer;

      &::before,
      &::after {
        content: "";
        display: block;
        width: 8px;
        height: 24px;
        background-color: $dark-color;
      }

      &::before {
        margin-bottom: -12px;
      }

      &.left {
        left: 20px;

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }

      &.right {
        right: 20px;

        &::before {
          transform: rotate(-45deg);
        }

        &::after {
          transform: rotate(45deg);
        }
      }
    }

    @for $i from 1 through $slider-number {
      #s-#{$i}:checked {
        & ~ .s-content {
          transform: translateX(-$slider-width * ($i - 1));
        }

        & ~ .s-control .s-c-#{$i} {
          background-color: #fff;
        }

        & ~ .s-nav .s-nav-#{$i} {
          display: block;
        }
      }
    }
  }

  @keyframes slider-animation {
    $i: 0;
    $j: 0;
    $times: ($slider-number - 1) * 2;

    // @while $i < 100 {

    //     #{$i}%,
    //     #{$i + 7}% {
    //         @if $i < 50 {
    //             transform: translateX(-$slider-width * $j);
    //         }

    //         @else {
    //             transform: translateX(-$slider-width * ($times - $j));
    //         }
    //     }

    //     $i: $i+100 / $times;
    //     $j: $j+1;
    // }
  }
}

@media (max-width: 760px) {
  .outer-wrapper .s-type-1 .s-control {
    bottom: 5px;
    > label[class^="s-c-"] {
      margin-right: 2px;
    }
  }
}
